#skill .skills-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

@media (max-width:1024px) {
    #skill .skills-container{
        grid-template-columns: 100%;
    }

    #skill .skills-container .skill-card{
        
        padding: 2rem;
        width: 100%;
    }
    
}

@media (max-width:600px){

    #skill .skills-container{
        gap: 1rem;
    }

    #skill .skills-container .skill-card{
        
        padding: 2rem 1rem;

    }
}